$red: rgb(213, 32, 32);
.item-view-component {
  text-align: center;
  @media (max-width:672px) {
    padding: 30px 0px 40px;
  }
  .item-empty {
    img {
      margin: auto;
      margin-top: 20%;
      width: 40%;
      display: block;
      @media (max-width:672px) {
        display: none;
      }
    }
    div {
      width: 75%;
      margin: 20px auto;
      font-weight: 400;
      color: rgba(black, 0.5);
    }
    button {
      max-width: 40%;
      max-width: 200px;
      margin: auto;
      transform: scale(0.8);
    }
  }
  .toast-container{
    position: fixed;
    top: 55px;
    right: 20px;
    min-height: 100px;
    @media (max-width:672px) {
      top: 100px;
    }
    text-align: left;
    .toast-title{
      font-weight: 700;
      font-size: 1.3rem;
    }
    .toast-content{
      padding:.5rem;
    }
    .toast {
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background:white;
      padding: 1rem;
      z-index: 90;
    }
  }
  .map-it-out{
    border-color:$brand-color; 
    background-color:$brand-color;
    color: #fff;
    &:hover{
      background-color:#2BDBA6;
      border-color: #2BDBA6;
    }
  }
}
.item-view-container {
  height: 100%;
  overflow-y: scroll;

  .item-info-container {
    .session {
      padding: 10px;
      border-bottom: 0.1px solid rgb(222, 222, 222);
      &.action-container {
        display: flex;
        justify-content: space-around;
        .action {
          cursor: pointer;
          width: 50%;
          text-align: center;
          padding: 5px;
          border-radius: 8px;
          opacity: 0.9;
          letter-spacing: 1px;
          &:hover {
            opacity: 1;
            background: rgb(245, 245, 245);
          }
          &:active {
            background: rgb(235, 235, 235);
            user-select: none;
            color: black;
            transform: scale(0.95);
          }
          .title {
            font-size: 0.7rem;
          }
        }
      }

      &.details-container {
        text-align: left;
        & > div {
          padding: 5px 10px;
        }
        .title {
          font-weight: 900;
          font-size: 1.6rem;
        }
        .address {
          font-weight: 700;
          .fade {
            opacity: 0.7;
          }
        }
        .category {
          .item {
            display: inline-block;
            // background: rgba(33, 206, 153, 0.1);          
            // color: $brand-color;
            background: $brand-color;
            color: white;
            padding: 2px 10px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 0.9rem;
            margin: 3px 3px;
          }
        }
        // .open-hour {
          
        // }
        .order {
          .order-method {
            padding: 5px;
            padding-bottom: 10px;
            &.no-active {
              opacity: 0.2;
              .action {
                background: rgb(235, 235, 235);
                color: black;
              }
            }
            .type {
              display: inline-block;
              font-weight: 600;
            }
            .action {
              display: inline-block;
              padding: 2px 15px;
              border-radius: 100px;
              font-size: 1.05rem;
              margin-right: 5px;
              margin-left: 10px;
              letter-spacing: 1px;
              cursor: pointer;
              font-weight: 600;
            }
            &.active {
              .action {
                background: rgba(33, 206, 153, 0.1);
                color: $brand-color;
              }
              .action:hover{
                // transform: scale(1.1);
                font-weight: 900;
              }
              .action:active{
                transform: scale(0.95);
              }
              .action.others {
                background: rgba(33, 206, 153, 0.1);
                border-radius: 8px;
                padding: 10px 20px;
                margin: 10px;
                color: $brand-color;
                cursor: default;
                latter-space: 0px;
                display: block;
                &:active{
                  transform: scale(1);
                }
                &:hover{
                  font-weight: 600;
                }
              }
              div, a{
                color: $brand-color;
              }
            }
          }
        }
        .session-item {
          &.open-hour {
            text-transform: capitalize;
            tr.true {
              font-weight: 700;
            }
            .hour-td-finish-true {
              margin-bottom: 10px;
            }
            .none-data {
              padding: 5px;
              padding-left: 0px;
              opacity: 0.4;
            }
          }
          &.images {
            .title {
              text-transform: uppercase;
              font-size: 1.1rem;
              letter-spacing: 1px;
            }
            .img-container {
              width: 100%;
              display: flex;
              overflow-x: scroll;
              overflow-y: hidden;
              flex-direction: row;
              justify-content: flex-start;
              -webkit-overflow-scrolling: touch;
              padding: 10px 50px 10px 0px;
              .img-frame {
                cursor: pointer;
                margin: 5px;
                display: inline-block;
                min-width: 100px;
                max-width: 100px;
                height: 140px;
                border-radius: 8px;
                overflow: hidden;
                background: rgba(245, 245, 245,1);
                &.holder {
                  background: rgb(240, 240, 240);
                  padding: 10px;
                  text-transform: uppercase;
                  text-align: center;
                  padding-top: 25px;
                  font-weight: 600;
                  font-size: 0.8rem;
                  color: rgb(181, 181, 181);
                  user-select: none;
                  &:hover{
                    color: rgba($brand-color, 1);
                    box-shadow: inset 0px 0px 5px 1px rgba(black, 0.1);
                  }
                  i {
                    display: block;
                    padding-bottom: 5px;
                    font-size: 2rem;
                  }
                  &:active{
                    transform: scale(0.95);
                  }
                }
                &:hover{
                  transform: scale(0.99);
                }
                &:active{
                  opacity: 0.9;
                }
                &:first-child {
                  margin-left: 0px;
                }
                .img {
                  height: 100%;
                }
              }
              &:hover::-webkit-scrollbar {
                display: block;
              }
              &::-webkit-scrollbar {
                display: none;
                height: 0px;
                width: 0px;
              }
            }
            .bottom-action {
              text-align: center;
            }
            .upload-btn {
              text-align: center;
              cursor: pointer;
              border: none;
              padding: 5px 20px;
              margin: auto;
              border-radius: 8px;
              width: inline-block;
              background: rgb(245, 245, 245);
              font-weight: 700;
              &:hover{
                background: rgb(240, 240, 240);
              }
              &:active{
                transform: scale(0.95);
                background: rgb(235, 235, 235);
              }
            }
          }
        }
        .session-title {
          font-weight: 900;
          letter-spacing: 1px;
          font-size: 0.9rem;
          text-transform: uppercase;
          margin: 10px 0px 10px;
          color: rgb(205, 205, 205);
          padding: auto 10px;
          position: relative;
          span {
            display: inline-block;
            background: rgb(210, 210, 210);
            position: absolute;
            top: 6px;
            right: 0;
            left: -25px;
            height: 5px;
            width: 20px;
          }
        }
      }
    }
  }
}

.create-editting-item-modal {
  text-align: center;
  .session-title {
    opacity: 0.4;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 20px 0px 10px;
    padding: auto 10px;
  }
  .form-group{
    .open-hour{
      .day-row {
        width: 100%;
        div.day-block, input.form-control, select.form-control {
          border-radius: 0px;
          height: 50px;
        }
        .day-block-input {
          display: flex;
        }
        select.form-control {
          border-radius: 0px !important;
        }
        .day-block, select.form-control {
          font-size: 1rem;
          padding: 11px;
          background-color: rgb(245, 245, 245);
          margin: 2px;
          text-align: center;
          border: 4px solid rgb(245, 245, 245);
          &.plus {
            cursor: pointer;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            &:hover{
              color: white;
              background-color: $brand-color;
              border-color: $brand-color;
            }
            &:active{
              transform: scale(0.95);
              border-color: darken($color: $brand-color, $amount: 5%);
              background-color: darken($color: $brand-color, $amount: 5%);
            }
          }
          &.cancel {
            cursor: pointer;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            &:hover{
              color: white;
              background-color: $red;
              border-color: $red;
            }
            &:active{
              transform: scale(0.95);
              border-color: darken($red, 5%);
              background-color: darken($red, 5%);
            }
          }
          .day-block {
            @media (max-width: 672px) {}
            font-size: 0.8rem;
            padding: 11px 2px;
          }
          &.day {
            text-align: left;
            width: 60px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            @media (max-width: 672px) {
              width: 40px;
              text-align: right;
              font-size: 0.8rem;
              padding: 12px 2px;
            }
          }
        }
      }
    }
  }
  .basic-multi-select .css-yk16xz-control {
    padding: 6px;
  }
  input.form-control, .basic-multi-select .css-yk16xz-control, textarea.form-control {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    margin: 5px auto;
    text-align: center;
    border: 2px solid rgb(245, 245, 245);
    &:focus {
      font-weight: 700;
      letter-spacing: 1px;
    }
    &:focus, &:hover{
      background-color: rgb(250, 250, 250);
      border: 2px solid rgba($brand-color, 1);
    }
  }
  textarea.form-control {
    text-align: left;
  }
  .css-1rhbuit-multiValue {
    background: lighten($brand-color, 5%);
    border-radius: 5px;
    padding: 0px;
    padding-left: 8px;
    color: white;
  }
  .css-12jo7m5 {
    padding: 2px auto;
    color: white;
  }
  .css-xb97g8 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
  }
  .css-xb97g8:hover {
    background-color: lighten($brand-color, 10%);
    color: white;
  }
  .prompt-block {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    .session-title {
      text-align: center;
    }
    .address-prefill {
      font-family: 'PT Serif', serif;
      font-weight: 800;
      border: none;
      width: 70%;
      margin: 10px auto;
      display: block;
      font-size: 1.6rem;
    }
    img {
      width: 120px;
      margin: 30px auto;
    }
  }
  .category__control--menu-is-open {
    border-color: $brand-color;
    box-shadow: 0 0 0 1px $brand-color;
    border-radius: 8px;
  }
  .category__control.category__control--is-focused.css-1pahdxg-control, .category__control.category__control--is-focused.category__control--menu-is-open.css-1pahdxg-control {
    border-color: $brand-color;
    box-shadow: 0 0 0 1px $brand-color;
    border-radius: 8px;
    padding: 6px;
  }
  .css-1pahdxq-control, .css-1pahdxq-control:hover{
    border-radius: 8px;
    border-color: $brand-color;
    box-shadow: 0 0 0 1px $brand-color;
  }
  .modal-body {
    padding: 0px;
  }
  .modal-content {
    border: none;
    padding: 15px;
  }

  .modal-btn-group {
    width: 100%;
    display: flexbox;
    margin-top: 50px;
    button, span {
      justify-content: space-around;
      display: inline-block;
      width: 50%;
      cursor: pointer;
      padding: 15px;
      border: none;
      &.cancel{
        border-bottom-left-radius: .3rem;
        background-color: rgb(245, 245, 245);
        &:hover{
          background-color: rgb(235, 235, 235);
        }
      }
      &.create{
        border-bottom-right-radius: .3rem;
        background-color: $brand-color;
        color: white;
        font-weight: 700;
        
        &:hover{
          background-color: lighten($brand-color, 10%);
        }
      }
    }
  }
}