@import "./drawer.scss";
@import "./overwrite-mapbox.scss";
.map-view-outter-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white;
}
.map-view-conatiner {
  position: relative;
  .pin-001 {
    transform: translate(calc(-50% + 0px), calc(0% + 0px));
    left: 50%;
    position: absolute;
    bottom: 0px;
    pointer-events: auto;
    &.focused {
      .pin-001-wrapper-item, .pin-001-wrapper-item-wrapper, .pin-001-item-2 {
        background-color: darken($brand-color, 1%);
        box-shadow: rgba($brand-color, 0.24) 0px 0px 0px 1px inset, rgba($brand-color, 0.18) 0px 1px 2px;
      }
    }
    .button-inner {
      outline: none;
      color: inherit;
      align-items: center;
      justify-content: normal;
      border: none;
      margin: 0px;
      padding: 0px;
      background: transparent;
      width: auto;
      overflow: visible;
      font: inherit;
    }
    .pin-001-wrapper {
      transform: scale(1);
      transform-origin: 50% 100%;
      cursor: pointer;
      width: 32px;
      height: 32px;
      bottom: 2px;
    }
    .pin-001-wrapper-item {
      background-color: rgb(34, 34, 34);
      border-radius: 1px;
      bottom: -2px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.18) 0px 1px 2px;
      height: 8px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0px) rotate(45deg);
      width: 8px;
      z-index: auto;
    }
    .pin-001-wrapper-item-wrapper {
      border-radius: 100px;
      background-color: rgb(34, 34, 34);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.18) 0px 1px 2px;
      color: rgb(255, 255, 255);
      width: 32px;
      height: 32px;
      svg {
        height: 20px;
        width: 20px;
        fill: currentcolor;
        transform: translateY(5px)
      }
    }
    .pin-001-item-2 {
      background-color: rgb(34, 34, 34);
      border-radius: 1px;
      bottom: -1px;
      height: 8px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0px) rotate(45deg);
      width: 8px;
      z-index: auto;
    }
  }
  .ctrl-panel-container {
    width: 40px;
    float: right;
    margin: 10px;
    .mapboxgl-ctrl.mapboxgl-ctrl-group:first-child {
      margin-bottom: 10px;
    }
    @media (max-width: 672px) {
      display: none;
    }
  }
}
