@import url('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css');
@import "../config";

.mapboxgl-ctrl-attrib-inner, a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  display: none;
}
.mapboxgl-ctrl button:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0);
}
.map-view-conatiner {
  width: calc(100% - #{$drawer-width});
  height: 100vh;
  margin: 0px;
  margin-top: $navbar-md-height;
  background: $brand-color;
  position: relative;
  float: right;
  overflow: hidden;
  @media (max-width: 672px) {
    width: calc(100%);
  }
  .mapboxgl-ctrl-group:not(:empty) {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
    border-radius: 8px;
  }
  .mapboxgl-ctrl-group button {
    width: 40px;
    height: 40px;
    outline: none;
  }
  .mapboxgl-ctrl-group button:focus {
    box-shadow: rgba(0, 0, 0, 0) 0px 6px 20px;
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
    border-radius: 8px 8px;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  .mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-waiting.mapboxgl-ctrl-geolocate-active {
    span.mapboxgl-ctrl-icon {
      background-color:rgba(0, 0, 0, 0);
    }
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    border-radius: 8px 8px 0px 0px;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    border-radius: 0px 0px 0px 0px;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
    &:hover {
      border-radius: 0px 0px 8px 8px;
      background-color: rgb(247, 247, 247);
    }
  }
  .mapboxgl-ctrl-group button+button {
    border-top: 1px solid rgba(#ddd, 0.4);
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16' fill='currentColor'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 1a1 1 0 0 1 2 0v14a1 1 0 1 1-2 0V1z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16' fill='currentColor'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z'%3E%3C/path%3E%3C/svg%3E");
  }
}
.mapboxgl-marker {
  top: -20px !important;
}
