.card{
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  border-radius: 3px;
  border: 0px solid #e6e6e6;
  margin: 20px 0px;
  @media (max-width: 672px) {
      margin: -1px 0px 20px;
      border: 0px solid rgba(0,0,0,.125);
      box-shadow: 0px 10px 0px 0px rgba(0,0,0,0);
  }

  .card-header{
      background-color: rgba(#f8f9fa, 0);
      border-bottom: 1px solid rgba(#e6e6e6, 0.5);
      padding: 1.25rem 1.25rem;
      font-weight: 700;
  }

  .card-body{
      padding: 1.25rem;
  }

  h6.card-header{
      padding: 0.8rem 1.25rem;
      font-weight: 400;
  }
  .signup-title{
      padding: 10px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      opacity: 0.5;
      text-align: center;
      font-weight: 700;
  }
  .form-group-row.row{
      text-align: center;
      padding: 10px 0px;
      img{
          width: 50%;
          margin: auto;
          &:hover{
              cursor: pointer;
              box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 8px $brand-color;
              border-radius: 0.4px;
            }
            &:active, &.true-img{
                box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 8px lighten($brand-color, 5%);
                border-radius: 0.4px;
          }
      }
  }
  
}

