.landing-component{
  background: white;
}

.welcome {
  background: #F2F4F5;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  &.logout{
    background: #f8f9fa;
    img{
      margin: 20px 0px;
      height: 200px;
    }
    @media (max-width: 672px) {
      img{
        height: 150px;
        margin: 10px 0px 40px;
      }
      .content-container .title{
        text-align: center;
        font-size: 2.3rem;
      }
      .content-container .subtitle{
        text-align: center;
      }
      .content-container .button-container .btn.btn-success.btn-lg{
        text-align: center;
      }
    }
  }
  .content-container {
    padding: 5rem 1rem 6rem;
    margin: auto;
    .title{
      font-size: 2.5rem;
      font-weight: 900;
      color: #001b0f;
      @media (max-width: 672px) {
        font-size: 3rem;
        line-height: 3rem;
        text-align: left;
      }
    }
    .subtitle{
      font-weight: 500;
      color: rgba(#585858, 0.8);
      font-size: 1.5rem;
      @media (max-width: 672px) {
        margin-top: 10px;
        font-size: 1.7rem;
        line-height: 2.3rem;
        text-align: left;
      }
    }
    .button-container{
      margin: auto;
      margin-top: 30px;
      max-width: 350px;
      @media (max-width: 672px) {
        max-width: 100%;
      }
      .btn{
        @media (max-width: 672px) {
          text-align: right;
          padding-right: 1.5rem;
        } 
      }
      .btn-landing{
        border-color:$brand-color; 
        background-color:$brand-color;
        color: #fff;
        &:hover{
          background-color:#fff;
          color: #000;
          border-color: #00BF79;
        }
      }
    }
  }
}

.growth-component {
  padding: 50px 0px;
  text-align: center;
  background: $brand-color;

  .growth-tag{
    display: inline-block;
    color: $brand-color;
  }

  .growth-title{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .growth-card{
    background: white;
    color: black;
    border-radius: 0.3rem;
    display: inline-block;
    box-shadow: 0px 0px 20px -1px rgba(darken($brand-color, 50%), 0.2);
    padding: 50px 20px;
    width: 100%;
    max-width: 750px;
    margin: 20 auto;
  }
  .growth-image{
    img {
      width: 200px;
      transform: rotate(20deg);
      margin: 10px;
    }
  }
}

.feature-component {
  padding: 50px 0px;
  text-align: center;

  .row{
    margin: auto;
  }
  .feature-item{
    padding: 50px;
    
    .item-icon{
      margin-bottom: 15px;
      
      .fa{
        color: $brand-color;
        margin: 0px auto 30px;
        font-size: 1.3rem;
        opacity: 0.8;
      }
    }

    .item-title{
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-bottom: 10px;
    }

    .item-description{
      font-weight: 400;
      font-size: 1rem;
      opacity: 0.8;
    }
  }
}


.author-component{
  padding-top: 5vh;
  padding-bottom: 10vh;
  background: #F2F4F5;
  .author-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #001b0f;
    padding: 1.5rem 0 4.5rem 0;
    @media (max-width: 672px) {
      padding: 1.5rem 3.5rem;
    }
  }
  .author-card{
    @media (max-width:672px) {
      padding-bottom: 3rem;
    }
  }
  
  .author-name{
    font-size: 1.5rem;
    font-weight: 750;
    padding-bottom: .8rem;
    @media (max-width: 790px) {
      font-size: 1.2rem;

    }
  }
  .card-left{
    text-align: center;
    .author-img{
      width:100%;
      // border: 5px solid $brand-color;
      @media (max-width: 790px) {
        width:60%;
      }
      @media (max-width: 580px) {
        width: 45%;
      }
    }
  }
  .card-right{
    padding-left: .8rem;
    .author-info{
      @media (max-width:672px) {
        text-align: center;
      }
      .icon{
        margin-left: .5rem;
        @media (max-width: 672px) {
          margin-left: .3rem;
        }
        a {
          color: $brand-color;
          &:hover,&:visited,&:active {
            color: $brand-color;
          }
        }
        i {
          @media (max-width: 790px) {
            font-size: 1.4em;
          }
          @media (max-width: 672px) {
            font-size: 1.3em;
          }
        }
        
      }
    }
    .author-textbox{
      text-align: center;
      .author-text{
        text-align: left;
        @media (max-width: 790px) {
          width:90%;
        }
        @media (max-width:672px) {
          width:80%;
          margin: 0 auto;
          text-align: left;
        }
      }
    }
  }
}

.discuss-component{
  .discuss-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #001b0f;
    padding-top: 3.5rem;
  }
  padding-bottom: 2rem;
  @media (max-width: 672px) {
    padding: 0 2.5rem;
  }
}

.footer-component{
  background: #fff;
  border-bottom: 10px solid $brand-color;
  text-align: center;
  padding: .5rem;
  padding-top: 4rem;
  @media (max-width: 672px) {
    padding-left: 0%;
    text-align: center;
  }
}