.mapitout-loading-bar{
  background: linear-gradient(to right, $brand-color, lighten($brand-color, 10%));
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 100ms cubic-bezier(0, 0.86, 1, 0.82) !important;
  box-shadow: 0px -5px 20px rgba(darken($brand-color, 30%), 0.2);

  @media (max-width: 672px) {
      height: 0.1.5rem;
      transition: transform 150ms cubic-bezier(0, 0.86, 1, 0.82) !important;
      box-shadow: 0px -5px 20px rgba(darken($brand-color, 30%), 0.1);
  }
}
.mapitout-loading-bar-2{
  background: linear-gradient(to right, darken($brand-color, 5%), $brand-color);
  height: 1rem;
  border-radius: 5px;
}

