.mapitout-modal-component {
  height: 100vh;
  width: 100vw;
  background: rgba($brand-color, 1);
  z-index: 99999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  padding-top: 100px;
}

.modal.show .modal-dialog {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image-uploading-modal {
  .image-dropping-container {
    // border-radius: 8px;
    // border: 2px dashed rgba(black, 0.6);
    text-align: center;
    .image-uploader{
      text-align: center;
      padding: 50px;
      // background: rgba(245, 245, 245, 1);
      background-color: white;
      outline: none !important;
      cursor: default !important;
      user-select: none;
      position: relative;
      font-weight: 800;
      border: 4px dashed rgb(220, 220, 220);
      border-radius: 0px;
      &.draggingOverEntering{
        border-color: $brand-color;
        .drag-title {
          color: $brand-color;
        }
      }
      .drag-title {
        font-size: 2rem;
        color: rgb(220, 220, 220);
      }
      .drag-subtitle {
        font-size: 0.8rem;
        color: rgb(220, 220, 220);
      }
    }
    .upload-btn {
      cursor: pointer;
      color: white;
      font-size: 0.8rem;
      display: inline-block;
      padding: 10px 30px;
      margin: 10px;
      background-color: $brand-color;
      &.finish-btn {
        margin: 20px auto;
        font-weight: 700;
      }
      &:hover{
        background-color: darken($brand-color, 5%);
      }
      &:active{
        transform: scale(0.95);
      }
    }
    .image-uploading-status {
      margin: 5px;
      display: inline-block;
      min-width: 100px;
      max-width: 100px;
      height: 130px;
      border-radius: 8px;
      overflow: hidden;
      background: rgba(245, 245, 245,1);
      opacity: 0.7;
      position: relative;      
      .img {
        height: 100%;
        border-radius: 8px;
        opacity: 0.3;
      }
      .uploading {
        font-size: 0.8rem;
        text-align: center;
        font-weight: 700;
      };
      .blurr {
        position: absolute;
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0px;
      }
    }
  }
}

.loader-component{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 25px 0px;

  .square-spinner {
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    // background: url('/assets/svgs/icon-48.png') no-repeat center center;

    margin: 10px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  .circle-spinner {
    text-align: center;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
  }

  .double-bounce1 {
    background-color: rgba(black, 1);
  }
  .double-bounce2 {
    background-color: rgba(black, 0.8);
  }
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 1.5s infinite ease-in-out;
    animation: sk-bounce 1.5s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }


  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px)}
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      opacity: 1;
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      opacity: 1;
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      opacity: 1;
    }
  }
  
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}

