a, a:hover {
  text-decoration: none;
}


.btn.btn-success{
  background: $brand-color;
  border-radius: 3px;
  transition: 0s;
  &:active {
    color: #fff;
    background-color: darken($brand-color, 1%);
    border-color: darken($brand-color, 1%);
  }

  &:hover{
    background-color: darken($brand-color, 1%);
  }
}

.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  &:active {
    color: #fff;
    background-color: darken($brand-color, 1%);
    border-color: darken($brand-color, 10%);
    box-shadow: 0 0 0 0.2rem rgba($brand-color,.5);
  }
}

.btn.btn-link{
  color: $brand-color;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;

  &:hover{
    color: lighten($brand-color, 10%);
    text-transform: none;
    text-decoration: none;
  }

  &:active {
    color: darken($brand-color, 10%);
    text-transform: none;
    text-decoration: none;
  }
  &:link, &:visited{
    text-transform: none;
    text-decoration: none;
  }
}

button, button.btn{
  cursor: pointer;
  user-select: none !important;
}

input.form-control, textarea.form-control {
    &:focus{
      color: #495057;
      background-color: #fff;
      border-color: rgba($brand-color, 1);
      outline: 0;
      box-shadow: 0 0 0 0.15rem rgba(lighten($brand-color, 10%), 0.2);
    }
}

i.fas {
  margin-right: 2px;
}

.row{
  margin: 0px 0px;
  @media (max-width: 543px) {
    margin: 0px 0px;
  } 
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 5px;
}

form {
  label {
      width: 100%;
  }
  span.danger-hint {
      margin-top: .25rem;
      font-size: .85rem;
      opacity: 0.85;
      color: #dc3545;
      text-align: right;
      float: right;
      .fa-exclamation-circle{
          margin-right: 2.5px;
      }
  }
  input.form-control:not(.original-disable):disabled, textarea.form-control:not(.original-disable):disabled {
      border-color: rgba(0,0,0,0);
      background-color: rgba(#e9ecef, 0.1);
  }
  input.form-control:not(.original-disable)[readonly], textarea.form-control:not(.original-disable)[readonly]{
      border-color: rgba(0,0,0,0);
      background-color: rgba(#e9ecef, 0);
  }
}