@import './variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

@import 'landing';
@import 'navbar';
@import 'override';
@import 'loader';
@import 'card';
@import 'moment';
@import 'user';
@import 'auth';
@import 'map/index';
@import 'covid19';
@import 'item/index';


* { 
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    @media (max-width: 672px) {}
    // div, a {
    //     outline: 1px solid rgba(black, 0.3) !important;
    // }
    div, span, svg, button {
        outline: none !important;
    }
}
html.touch * {
    text-rendering: optimizeSpeed; 
}
body {
    background: #f8f9fa;
    position: relative;
    .statusbar-overlay {
        background: #333;
    }
    .rc-anchor-normal{
        margin: auto;
    }
    .container-mapitout{
        margin: auto;
        padding: 5px 40px;
        @media (max-width: 672px) {
            padding: 0px 0px;
        }
        &.xs-padding{
            @media (max-width: 672px) {
                padding: 5px 15px;
            }
        }
    }
}
